.wrapper {
  font-size: 8vh;
  height: 13%;
  width: 35vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  position: absolute;
  color: black;
  transform: rotate(90deg);
  left: 20vw;
}
