@mixin input-default {
  input:focus {
    outline: none;
  }
  input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

@mixin button-default {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 30px;
  color: white;
}
