.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logos {
      display: flex;
      align-items: center;
      width: fit-content;
      font-family: RussoOne;
      color: white;
      font-size: 5vw;
      .logo {
        width: 10%;
        margin-right: 5%;
      }
    }
    .status {
      display: flex;
      align-items: center;
      .profile {
        color: white;
        margin-right: 20px;
      }
      .menu {
        color: white;
      }
    }
  }
  .profile {
    margin-top: 10%;
    display: flex;
    align-items: center;
    .userImg {
      display: inline-block;
      width: 40vw;
      height: 40vw;
      border-radius: 40vw;
      margin-right: 15%;
      background-color: white;
    }
    .userTxt {
      font-size: 4vw;
      color: white;
      display: inline-block;
      .userLabel {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
      }
      .user {
        margin-left: 20%;
      }
      .code {
        margin-left: 20%;
      }
    }
  }
  .menus {
    width: auto;
    margin-top: 10%;
    img {
      width: 100%;
      margin-bottom: 5%;
    }
  }
}
