.container {
  width: 100vw;
  padding: 10%;
  padding-top: 30%;
  display: inline-block;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logos {
      display: flex;
      align-items: center;
      width: fit-content;
      font-family: RussoOne;
      color: white;
      font-size: 7vw;
      .logo {
        width: 10%;
        margin-right: 5%;
      }
    }
    .status {
      display: flex;
      align-items: center;
      .profile {
        color: white;
        margin-right: 20px;
      }
      .menu {
        color: white;
      }
    }
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .defaultImg {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        border-radius: 10vw;
        margin-right: 15%;
      }
      .user {
        display: flex;
        align-items: center;
        .facepanda {
          width: 50px;
        }
      }
      .userImg {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        border-radius: 12vw;
        margin-right: 15%;
        border: 3px solid gray;
      }
      .userTxt {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 4vw;
        color: white;

        font-weight: bold;

        .name_code {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
      .slash {
        margin-right: 5%;
        margin-left: 5%;
      }
    }
    .hiddenPanda {
      width: 20%;
    }

    .count {
      width: fit-content;
      margin-bottom: 3%;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .calendar {
      position: relative;
      width: 100vw;
      padding-top: 83%;
      background-color: white;
    }

    .menus {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      img {
        width: 75%;
        margin-bottom: 5%;
      }
    }
  }
}
