.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .arrow {
    transform: rotate(90deg);
    position: fixed;
    top: 2%;
    right: 20px;
    font-size: 2em;
    color: white;
  }
  .lugicode {
    transform: rotate(90deg);
    position: fixed;
    font-size: 3vh;
    bottom: 2%;
    right: 20px;
    color: white;
    background-color: gray;
    border-radius: 20%;
    border: none;
  }

  .saveWrapper {
    transform: rotate(90deg);
    position: fixed;
    display: flex;
    bottom: 50;
    left: 20vh;
    flex-direction: column;
    .saveButton {
      font-size: 5vh;
      color: black;
      background-color: yellow;
      border-radius: 30px;
      border: none;
    }

    .saveTxt {
      margin-top: 10%;
      color: white;
      font-size: 2vh;
    }
  }

  .warningContainer {
    display: flex;
    color: white;
    margin-left: 20px;
    .warningTxt {
      font-size: 3vh;
      transform: rotate(90deg);
    }
    .warning {
      font-size: 3vh;
      transform: rotate(90deg);
    }
  }
  .scoreContainer {
    width: 90vw;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;

    .name {
      font-size: 7vh;
      display: inline-block;
      transform: rotate(90deg);
    }
    .score {
      font-size: 10vh;
      font-weight: bold;
      display: inline-block;
      margin-right: 20px;
      transform: rotate(90deg);
    }
  }
  .blue {
    background-color: blue;
  }
  .red {
    background-color: red;
  }
  // .timer {
  //   font-size: 10vh;
  //   background-color: yellow;
  //   position: absolute;
  //   color: black;
  //   width: fit-content;
  //   transform: rotate(90deg);
  //   left: 30%;
  // }

  .timerWrapper {
    font-size: 8vh;
    height: 13%;
    width: 52%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    position: absolute;
    color: black;
    transform: rotate(90deg);
    left: 25%;
  }

  .block {
    width: fit-content;
    height: 10%;
    transform: rotate(90deg);
    left: 50%;
  }
  .restTxt {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: -5%;
    color: white;
    font-weight: bold;
    font-size: 7vh;
    // background-color: red;
    transform: rotate(90deg);
  }
  .roundTxt {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: -5%;
    color: white;
    font-weight: bold;
    font-size: 7vh;
    // background-color: red;
    transform: rotate(90deg);
  }
  .redContainer {
    // position: absolute;
    // left: 0;
    // bottom: 10%;
    width: 90vw;
    height: 30vh;
    background-color: red;
  }
}
