@import '../../../styles/mixins.scss';
.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  visibility: visible;
  transition: 0.3s all;
  .plusModal {
    display: block;
    width: 50vw;
    height: 50vh;
    background: #646478;
    opacity: 1;
    visibility: visible;
    border-radius: 20px;

    .navigationBar {
      height: 10%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      background-color: #484855;
      font-size: 150%;
      color: white;
      .close {
        margin-right: 20%;
      }
    }
  }
}

.modalWrapperClosed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}
